
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Victor_WebStore.ViewModel.AjaxTestDataViewModel

<h4>Представление AJAX</h4>
<p>Respone: (id:@Model.Id): @Model.Message</p>
<p>Server Time : @Model.ServerTime.ToString("R")</p>