@model IEnumerable<Victor_WebStore.ViewModels.ProductsViewModel>

@{
    ViewData["Title"] = "Все товары";
}
<div class="block" style="display: flex; flex-wrap:wrap;
                           justify-content: space-around">
    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="#" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@item.Manufacturer</h5>
                <p class="card-text">@item.Model</p>
                @Html.ActionLink("Подробнее", "ProductDetails","products", 
                        new { id = item.Id },new { @class = "btn btn-primary" })
                
            </div>
        </div>
    }
</div>

